In [ ]:
Q1. What is a Database? Differentiate between SQL and NoSQL Databases.
Database: A database is an organized collection of data that is stored and accessed electronically. Databases are designed to manage, store, and retrieve large amounts of data efficiently.
Differences between SQL and NoSQL Databases:
SQL Databases:
Structured: Use a structured query language (SQL) for defining and manipulating data.
Schema-based: Have a predefined schema.
ACID Compliance: Ensure ACID (Atomicity, Consistency, Isolation, Durability) properties for transactions.
Examples: MySQL, PostgreSQL, Oracle Database, SQL Server.
NoSQL Databases:
Flexible Schema: Do not require a predefined schema, can store unstructured data.
Horizontal Scalability: Easily scalable by distributing data across multiple servers.
CAP Theorem: Generally prioritize availability and partition tolerance over consistency.
Types: Document-based (e.g., MongoDB), Key-Value stores (e.g., Redis), Column-based (e.g., Cassandra), Graph-based (e.g., Neo4j).


Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an Example.
DDL (Data Definition Language): DDL is a subset of SQL used to define and manage database structures such as tables, indexes, and schemas.
CREATE: Used to create a new table, database, index, or view.
CREATE TABLE students (
    id INT PRIMARY KEY,
    name VARCHAR(100),
    age INT
);
DROP: Used to delete an existing table, database, index, or view.
DROP TABLE students;
ALTER: Used to modify an existing database object, such as adding a column to a table.

ALTER TABLE students ADD COLUMN grade VARCHAR(10);
TRUNCATE: Used to delete all rows from a table without removing the table structure.
TRUNCATE TABLE students;


Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an Example.
DML (Data Manipulation Language): DML is a subset of SQL used for inserting, updating, and deleting data in a database.

INSERT: Used to add new rows to a table.
INSERT INTO students (id, name, age, grade) VALUES (1, 'Alice', 20, 'A');
UPDATE: Used to modify existing rows in a table.
UPDATE students SET grade = 'B' WHERE id = 1;
DELETE: Used to remove existing rows from a table.
DELETE FROM students WHERE id = 1;


Q4. What is DQL? Explain SELECT with an Example.
DQL (Data Query Language): DQL is a subset of SQL used to query the database for information. The primary command is SELECT.

SELECT: Used to retrieve data from one or more tables.

SELECT * FROM students WHERE age > 18;

Q5. Explain Primary Key and Foreign Key.
Primary Key: A primary key is a unique identifier for a record in a table. It ensures that each record can be uniquely identified and does not contain NULL values.
CREATE TABLE students (
    id INT PRIMARY KEY,
    name VARCHAR(100)
);
Foreign Key: A foreign key is a field (or collection of fields) in one table that uniquely identifies a row in another table. It creates a link between the two tables.
CREATE TABLE enrollments (
    student_id INT,
    course_id INT,
    FOREIGN KEY (student_id) REFERENCES students(id)
);


Q6. Write a Python Code to Connect MySQL to Python. Explain the cursor() and execute() Method.

import mysql.connector

# Establishing a connection
conn = mysql.connector.connect(
    host='localhost',
    user='yourusername',
    password='yourpassword',
    database='yourdatabase'
)

# Creating a cursor object
cursor = conn.cursor()

# Executing an SQL query
cursor.execute("SELECT * FROM students")

# Fetching the results
results = cursor.fetchall()
for row in results:
    print(row)

# Closing the connection
conn.close()
cursor(): The cursor() method creates a cursor object, which is used to execute SQL queries and fetch results.
execute(): The execute() method of the cursor object is used to run SQL commands.


Q7. Give the Order of Execution of SQL Clauses in an SQL Query.
The typical order of execution of SQL clauses in a query is as follows:

FROM: Determines the tables to query.
JOIN: Joins tables together.
WHERE: Filters rows based on conditions.
GROUP BY: Groups rows sharing a property so that an aggregate function can be applied to each group.
HAVING: Filters groups based on a condition.
SELECT: Selects columns to include in the result.
DISTINCT: Removes duplicate rows from the result.
ORDER BY: Sorts the result set by specified columns.
LIMIT/OFFSET: Limits the number of rows returned and/or specifies the starting point.
Example query with order of execution:

SELECT name, AVG(age)
FROM students
WHERE age > 18
GROUP BY name
HAVING AVG(age) > 20
ORDER BY name
LIMIT 10;